<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Do not log Logback status on startup -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
	
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./veo-core-test.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./veo-core-test.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>
	
    <logger name="org.veo" level="warn"/>
    
    <root level="error">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>